div{
    background-image:url("https://img.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg?w=2000");
font-family:Arial Black;
background-color:blueviolet;
height:300px;
width:800px;
}
    