body{
background-image:url("https://img.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg?w=2000");
font-family:Arial Black;
}

p{
background-color:RGB(255,255,255);
font-family:Arial Black;
font-style:italic;
}

h3{
font-size:50px;
}

#aa{
font-size:80px;
}

#d1{
background-color:red;
width:200px;
height:200px;
margin-left:600px;
padding:100px
}
#d2{
background-color:blue;
width:200px;
height:200px;
margin-left:400px;
}
#d3{
background-color:pink;
width:200px;
height:200px;
margin-left:1000px;
}