.c1{
    color:red;
   }
   div{
    background-color:blueviolet;
    height:300px;
    width:800px;
    text-align:center;
    font-family: "Arvo", serif;
   border:10px dashed black;
   padding-left:50px;
    margin:100px;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAHnXPzDIZRKHHNAIA0DlbMnkntWRJcX9noTmY9c8jJvGT796oD9U7bQyfWjfPyCHHEk&usqp=CAU");
    border-radius: 25px;
   }
   div:hover{
    cursor:grab;
}
   ul{list-style-type:square;
}